<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-2xl">MyResume</a>
  </div>
  <div>
    <ul class="menu menu-horizontal">
      <li class="nav-item"><a routerLink="/">Home</a></li>
      <li class="nav-item"><a routerLink="/about">About Me</a></li>
      <li class="nav-item"><a routerLink="/projects">Projects</a></li>
      <li class="nav-item"><a routerLink="/faq">FAQ</a></li>
      <li class="nav-item"><a routerLink="/signup">Sign Up</a></li>
      <li class="nav-item" *ngIf="theme == 'light'">
        <a href="https://github.com/peternuyn" target="_blank" class="github-link">
          <img src="../../assets/images/github-mark.svg" alt="GitHub Logo" class="h-7 w-7">
        </a>
      </li>
      <li class="nav-item" *ngIf="theme != 'light'">
        <a href="https://github.com/peternuyn" target="_blank" class="github-link">
          <img src="../../assets/images/github-mark-white.png" alt="GitHub Logo" class="h-7 w-7">
        </a>
      </li>
      <li>
        <a [routerLink]="['/user', currentUserId]">Your Template</a>
      </li>
      <li class="nav-item">
        <a>
          <input type="checkbox" value="synthwave" class="toggle theme-controller" (change)="toggleTheme()" />
        </a>
      </li>
      <li *ngIf="currentUserDisplay !== ''">
        <a>
          <div class="dropdown">
            <div tabindex="0" role="button" class="avatar online placeholder">
              <div class="bg-neutral text-neutral-content w-20 h-9 rounded-full">
              <span class="text-xl">{{currentUserDisplay}}</span>
              </div>
            </div>
            <ul tabindex="0" class="dropdown-content menu bg-red-400 rounded-box z-[1] w-52 p-2 shadow">
              <li><a (click)="signOut()">Sign Out</a></li>
            </ul>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
